{% extends 'base.html' %}

{% block head %}
<title>
    Marty Miniac Developments
</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1><u>Personal Naukar !!</u></h1>
    {% if tasks|length < 1 %}
    <h4>Nikhatu Saala!! Ek Kaam Nahi tere Pass!!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action"/" method="POST">
            <input type="text" name="content" id="content" placeholder="Kya Kaam Hai Mere Aaka">
            <input type="submit" value="Agya Kare">
        </form>
    </div>
</div>
<footer>
    <div class="foot">
        <p style="font-size: large;">
            Mai Koi Aere Gaire Ka Naukar Nae Hun... Mere Aaka Ka Naam <strong>Rohan</strong> Hain... Main Unhi ke liye kaam Karta hun... Chalo Ab Niklo Yahan Se !!
        </p>
    </div>
</footer>
{% endblock %}